html {
    scroll-behavior: smooth;
  }
  
body {
    margin: 0;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
  }
  
#navbar {
    background: linear-gradient(to right, #2314ff, #91dfe5);
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 0.8;
  }
  
#navbar a {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Montserrat';
  }
  
#navbar a:hover {
    background-color: #0e001f;
    color: rgb(103, 255, 237);
    border-radius: 10px;
  }

.navbaritem {
    font-weight: bold;
}

/* Home */
  
#home {
    height: 925px;
    padding-top: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/public/images/bluebg.png');
  }

#home .toprectangle {
    color:rgb(33, 33, 161);
    background-color: #46fcdb;
    border-style: solid;
    margin-top: 20px;
    position: relative;
}

#home #topline0 {
    margin-top: 100px;
    height: 1px;
    width: 100px;
    margin-top: 195px;
    animation-name: topline0;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#home #midline0 {
    height: 1px;
    width: 300px;
    animation-name: midline0;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#home #bottomline0 {
    height: 1px;
    width: 400px;
    animation-name: bottomline0;
    animation-duration: 1.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes topline0 {
    0% {left: 80%; top: 0px;}
    25% {left: 73%; top:0px;}
    50% {left: 65%; top:0px;}
    75% {left: 62%; top:0px;}
    100% {left: 60%; top:0px;}
}

@keyframes midline0 {
    0% {left: 80%; top: 0px;}
    25% {left: 20%; top:0px;}
    50% {left: 30%; top:0px;}
    75% {left: 45%; top:0px;}
    100% {left: 50%; top:0px;}
}

@keyframes bottomline0 {
    0% {left: 75%; top: 0px;}
    25% {left: 77%; top:0px;}
    50% {left: 60%px; top:0px;}
    75% {left: 50%; top:0px;}
    100% {left: 45%; top:0px;}
}

#home #homecontent p {
    text-align: center;
    margin-left: 100px;
    color:rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-weight: 100;
}

#home #homecontent #line1 {
    text-align: center;
    margin-left: 100px;
    color:rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 35px; 
    text-shadow: 3px 0 #2112ad;
    margin-bottom: -30px;
}

#home #homecontent #line2 {
    text-align: center;
    margin: 40px;
    margin-left: 100px;
    color:rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 70px; 
    font-family: Verdana; 
    text-shadow: 4px 0 #2112ad;
}

#home #homecontent #line3 {
    text-align: center;
    margin: 40px;
    margin-left: 100px;
    color:rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 50px; 
    text-shadow: 3px 0 #2112ad;
}

#home .bottomrectangle {
    color:rgb(33, 33, 161);
    background-color: #46fcdb;
    border-style: solid;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}

#home #topline {
    height: 1px;
    width: 400px;
    animation-name: topline;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#home #midline {
    height: 1px;
    width: 300px;
    animation-name: midline;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#home #bottomline {
    height: 1px;
    width: 100px;
    animation-name: bottomline;
    animation-duration: 1.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes topline {
    0% {left: 5%; top: 0px;}
    25% {left: 22%; top:0px;}
    50% {left: 30%; top:0px;}
    75% {left: 33%; top:0px;}
    100% {left: 36%; top:0px;}
}

@keyframes midline {
    0% {left: 10%; top: 0px;}
    25% {left: 75%; top:0px;}
    50% {left: 62%; top:0px;}
    75% {left: 53%; top:0px;}
    100% {left: 37%; top:0px;}
}

@keyframes bottomline {
    0% {left: 2%; top: 0px;}
    25% {left: 50%; top:0px;}
    50% {left: 42%; top:0px;}
    75% {left: 40%; top:0px;}
    100% {left: 38%; top:0px;}
}

/* About */

#about {
    height: 920px;
    background: linear-gradient(to bottom, rgb(61, 52, 248), rgb(64, 147, 249));
    margin-bottom: -50px;
    display: flex;
}

#about #leftcolumn {
    color:rgb(142, 249, 255);
    border-style: solid;
    border-color: rgb(132, 202, 255);
    width: 90px;
    margin: 40px;
    float: left;
    background: linear-gradient(to bottom, rgb(61, 52, 248), rgb(142, 191, 255));
}

#about #rightcolumn {
    color:rgb(142, 249, 255);
    border-style: solid;
    border-color: rgb(132, 202, 255);
    width: 90px;
    margin: 40px;
    float: right;
    background-color: rgb(142, 249, 255);
    background: linear-gradient(to bottom, rgb(61, 52, 248), rgb(142, 249, 255));
}

#about #aboutme {
    font-family: Verdana;
    width: 85%;
    margin: 40px;
    border-style: solid;
    border-color: rgb(132, 202, 255);
    text-align: center;
    padding-bottom: 450px;
}

#about #aboutme #introduction {
    font-family: Arial;
    color:rgb(142, 249, 255);
}

#about #aboutme h3 {
    color:rgb(142, 249, 255);
    font-size: 50px;
    text-shadow: 2px 0 #ff82ff;
}

#about #aboutme p {
    font-size: 25px;
}

#about #aboutme button {
    top: 50%;
    left: 50%;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #02002d;
    font-size: 24px;
    background: linear-gradient(90deg,#cdcdfd, #61f1f9, #46fcdb, #b4f5b2);
    background-size: 400%;
    border-radius: 25px;
    border-color: #f1ebff;
    cursor: pointer;
}

#about button:hover {
    animation: animateResButton 8s linear infinite;
}

@keyframes animateResButton {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

#about #aboutme img {
    border-radius: 30px;
}

/* Skills */

#skills {
    height: 960px;
    background: linear-gradient(to bottom, rgb(64, 147, 249), rgb(192, 255, 217));
    font-family: 'Montserrat';
}

#skills #wakatime {
    height: 350px;
    margin-top: 50px;
    margin-left: 100px;
}

#skills #words {
    font-weight: bold;
    font-size:50px;
    margin: 40px;
    padding-top: 20px;
    text-align: center;
}

#skills #proglang {
    margin-left: 100px;
}

#skills #proglang h3 {
    font-size: 35px;
}

#skills #proglang #proglangitems {
    display: flex;
}

#skills #proglang #proglangitems p {
    font-size: 25px;
    border-radius: 10px;
    background-color: #cbfffd;
    margin: 5px;
    padding: 10px;
    min-width: 50px;
    text-align: center;
}

#skills #tools {
    margin-left: 100px;
}

#skills #tools h3 {
    font-size: 35px;
}

#skills #tools #toolsitems p {
    font-size: 25px;
    border-radius: 10px;
    background-color: #cbfffd;
    margin: 5px;
    padding: 10px;
    min-width: 50px;
    text-align: center;
}

#skills #tools #toolsitems {
    display: flex;
}

/* Projects */

#projects {
    height: 920px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(192, 255, 217), #ffeb3b);
    gap: 100px 50px;
    padding: 100px 50px;
    margin-bottom: -50px;
}

#projects #projectwords {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 50px;
}

#projects #reminder {
    text-align: center;
    font-size: 25px;
    margin-top: -20px;
}

#projects #projectlist {
    display: flex;
}

#projects #projectlist .project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
    margin: 40px;
    --clr: black;
}

#projects #projectlist .project:hover {
    height: 400px;
}

#projects #projectlist .project .imgBx {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    transition: 0.5s;
    overflow: hidden;
}

#projects #projectlist .project:hover .imgBx {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}

#projects #projectlist .project .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#projects #projectlist .project .content {
    position: absolute;
    /* space between image and content text */
    top: 232px;
    width: 100%;
    padding: 0 30px;
    /* how much of text is visible when not hovered */
    height: 55px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

#projects #projectlist .project:hover .content {
    height: 250px;
    top: 130px;
}

#projects #projectlist .project .content h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--clr);
}

#projects #projectlist .project .content p {
    color: #333;
}

#projects #projectlist .project .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: var(--clr);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}

/* Contact me */

#contactme {
    height: 920px;
    background: linear-gradient(to bottom, #ffeb3b,#ffd693);
    font-family: 'Montserrat';
}

#contactme #words {
    text-align: center;
    font-weight: bold;
    padding-left: 40px;
    padding-top: 20px;
    font-size: 50px;
}

#contactme #content {
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 500px;
    font-size: 40px;
    border-style: solid;
}


#contactme #content button {
    font-size: 30px;
    border-radius: 30px;
    background: linear-gradient(45deg, rgb(255, 250, 187), rgb(255, 205, 143));
    padding: 10px;
}

#contactme #content button:hover {
    background: linear-gradient(45deg, rgb(255, 253, 221), rgb(255, 227, 194));
    cursor: pointer;
}